.image-container {
  text-align: center;
  width: 75%;
}

.boy {
  width: 60%;
}

.eyes {
  top: 32%;
  left: 38%;
  width: 25%;
  animation: look-around 4s infinite;

  
}

@keyframes look-around {
  0% {
    transform: translate(0)
  }

  5% {
    transform: translate(5%)
  }

  20% {
    transform: translate(-20%)
  }

  25% {
    transform: translate(-10%)
  }

  100% {
    transform: translate(0, 0)
  }
}

.mouth {
  top: 50%;
  left: 40%;
  width: 18%;
}